
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}


header {
    background-color: #008BB0;
    border-bottom: 1px solid grey;
    color: white;
    padding: 20px;
    text-align: center;
}


.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


h1 {
    color: #333;
    margin-bottom: 20px;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.nav-menu a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#medical-image {
   
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 250px;

   
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

   
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    transition: filter 0.3s ease, transform 0.3s ease;
}

#medical-image:hover {
   
    filter: brightness(1) contrast(1) saturate(1);
    transform: scale(1.02);
}

footer {
    position: fixed;
    color: white;
    text-decoration: underline;
    border-top: 1px solid grey;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: #008BB0;
    z-index: 1000;
}
