body {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;          
  margin: 0;            
}

#register-box {
  border: 2px black solid;
  padding: 30px;
}


