<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Selection</title>
    <link rel="stylesheet" href="/static/department.css">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1>Select Your Department</h1>
    <div class="button-container">
        <!-- Admin Login -->
        <a href="{{ url_for('login', role='admin') }}" class="btn">
            <img src="static/images/admin-icon.jpg" alt="Admin Icon">
            <span>Admin</span>
        </a>
        <!-- Doctor and Nurse Login -->
        <a href="{{ url_for('login', role='doctor') }}" class="btn">
            <img src="static/images/doctor-icon.png" alt="Doctor and Nurse Icon">
            <span>Doctor/Nurse</span>
        </a>
        <!-- Patient Login -->
        <a href="{{ url_for('login', role='patient') }}" class="btn">
            <img src="static/images/patient-icon.png" alt="Staff Icon">
            <span>Patient</span>
        </a>
        <!-- Staff Login -->
        <a href="{{ url_for('login', role='staff') }}" class="btn">
            <img src="static/images/staff-icon.png" alt="Staff Icon">

            <span>Staff</span>
        </a>
    <!-- Registeration -->
    <a href="{{ url_for('registration') }}" class="back-link">New user? Register here!</a>    
    </div>
    <footer id="footer">
        &copy; 2024 HealthTrack. All Rights Reserved.
    </footer>
</body>
</html>

