<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor/Nurse Login</title>
    <link rel="stylesheet" href="/static/login_doctor.css">
</head>
<body>
    <div class="login-container">
        <h1>Doctor/Nurse Login</h1>

        {% if error %}
            <p style="color: red; font-weight: bold;">{{ error }}</p>
        {% endif %}

        <form action="{{url_for('login', role='doctor')}}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <input type="hidden" name="role" value="doctor">

            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('department') }}" class="back-link">Back to Department Selection</a>
    </div>
</body>
</html>
