<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Records</title>
    <link rel="stylesheet" href="/static/patient_records.css">
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <header>
        <h1>Patient Records</h1>
    </header>
    <div class="container">
        <div class="search-bar">
            <a class="back_button" href="{{ url_for('dashboard') }}">Back</a>

            <input type="text" id="searchInput" placeholder="Search by Patient Name or ID">
            <button onclick="searchPatient()">Search</button>
        </div>
        <table class="patient-records" id="patientTable">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                    <td>{{ patient.dob }}</td>
                    <td>{{ patient.gender }}</td>
                    <td>{{ patient.phone_number }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <footer>
        &copy; 2024 VitalRec. All Rights Reserved.
    </footer>
    <script>
        function searchPatient() {
            const input = document.getElementById('searchInput').value.toLowerCase();
            const table = document.getElementById('patientTable');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                let found = false;

                for (let j = 0; j < cells.length; j++) {
                    if (cells[j].textContent.toLowerCase().includes(input)) {
                        found = true;
                        break;
                    }
                }

                rows[i].style.display = found ? '' : 'none';
            }
        }
    </script>
</body>
</html>
