<!DOCTYPE html>
<html>
<head>
  <title>Hospital Registration</title>
  <link rel="stylesheet" href="static/register.css">
  <link rel="stylesheet" href="static/styles.css">

</head>


<body>
 <div id="register-box">
  <h1>Registration</h1>
  <form id="department_submission" action="{{ url_for('registration') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <p>Role:</p>
    <input type="radio" id="pediatrics" name="role" value="adminstrator" required> 
    <label for="administrator">Adminstrator</label><br>

    <input type="radio" id="doctor" name="role" value="doctor" required>
    <label for="doctor">Doctor</label><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button class="button" type="submit">Submit</button><br>

    <a href="{{url_for('login')}}">Returning user?</a>

  </div>
</body>
</html>